body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/180/585/original/daymode.jpg?1782016791");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.weather-app-container {
  text-align: center;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  color: rgb(0, 0, 0, 0.8);
  box-shadow: 0px 4px 20px rgb(0, 0, 0, 0.2);
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  max-width: 70%;
  margin: 0 auto;
  padding: 40px 40px 10px 40px;
  border-radius: 30px;
}
.weather-app-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.city {
  margin: 20px;
  text-align: left;
  font-size: 50px;
  color: #3582d5;
}

.day-time {
  margin: 10px;
  text-align: left;
  font-size: 20px;
  color: rgb(0, 0, 0, 0.8);
}
.search-form {
  display: flex;
}
.search-input {
  font-size: 24px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 60%;

  background-color: #ebf4f9;
}
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #170842;
}

.material-symbols-outlined {
  font-size: 30px;
}
.weather-app-sidebutton {
  display: flex;
  margin: 5px;
}

.theme-button {
  text-align: right;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: #649fdd;
  cursor: pointer;
}

.theme-button:hover {
  cursor: pointer;
  background-color: #001128;
  color: white;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}
.dark-theme {
  background: URL("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/180/586/original/nightmode.jpg?1782016816");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.dark-theme .city {
  color: #001128;
}

.dark-theme .theme-button {
  background-color: black;
  color: white;
}
.dark-theme .weather-app-container {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
}
.dark-theme .search-input {
  background: #e4dddd;
  color: black;
}
main {
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-weight: 600;
}
.Weather-data {
  display: flex;
  justify-content: center;
}
.weather-info {
  display: flex;
  justify-content: space-evenly;
}

.iconImage {
  height: 100px;
  width: 100px;
  margin-top: 10px;
  line-height: 1;
}
#icon {
  font-size: 60px;
}
#temperature {
  font-size: 90px;
}

#tempUnit {
  margin-top: 10px;
  font-size: 40px;
}
#celsius-link {
  text-decoration: none;
  color: #0b325c;
}
#fahrenheit-link {
  text-decoration: none;
  color: #0b325c;
}
.UnitChange {
  cursor: pointer;
  font-weight: 600;
  font-size: 55px;
}
strong {
  color: #0b325c;
}

a {
  color: blue;
}

footer {
  color: rgb(0, 0, 0, 0.6);
  font-size: 14px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  padding-bottom: 0px;
  margin-top: 20px;
}
